[*]
# Standard properties
indent_style=space
indent_size=4
tab_width=4
end_of_line=lf
insert_final_newline=true

# ReSharper properties
resharper_cpp_empty_block_style=together_same_line
resharper_enforce_line_ending_style=true

# ReSharper inspection severities
resharper_comment_typo_highlighting=none
resharper_identifier_typo_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_string_literal_typo_highlighting=none
